/***************** General Styling and Main Structure *****************/
body{
  background-color: #B6B6B6;
  color: white;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12px;
}
img{
  height: 100%;
  margin: 0;
  width: 100%;
}
#screen{
  background-color: #202020;
  width: 100%;
  height: 785px;
  border: 8px solid #B81D18;
  margin: -8px;
}
#screen-left{
  background-color: background-color: #202020;
  width: 30%;
  height: 725px;
  margin: 10px;
  display: inline-block;
}
#screen-right{
  background-color: #202020;
  width: 65%;
  height: 725px;
  margin: 10px;
  display: inline-block;
  float: right;
}

/******************** Left Styling and Structure ********************/
#stats{
  width: 98%;
  height: 200px;
  background-color: #004678;
  margin: 1%;
  border: 5px solid #121f2f;
}
#logo{
  width: 45%;
  height: 180px;
  margin: 2%;
  display: inline-block;
  float: left;
}
#info{
  width: 46%;
  height: 180px;
  margin: 2%;
  display: inline-block;
  float: right;
  border: 1px solid black;
}
h2{
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}
li{
  list-style-type: none;
  margin-left: -20px;
  margin-bottom: 10px;
}
#smartphone{
  width: 98%;
  height: 525px;
  background-color: silver;
  margin: 20px 1% 0 1%;
  border: 5px solid #121f2f;
  border-radius: 30px;
}
#phone-title{
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 60px;
  border: 2px solid black;
}
#square{
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 14px;
  border-radius: 5px;
}

/************************** iPhone Screens **************************/
/* Home of the Apps */
#home{
  display: block;
  height: 100%;
  width: 100%;
  margin: -1px;
  border-radius: 5px;
}
#phone-screen{
  height: 425px;
  width: 90%;
  margin: 20px auto;
  margin-bottom: 10px;
  background-color: #121f2f;
  border-radius: 5px;
}
.row{
  height: 100px;
  margin: 2px;
}
.app{
  height: 80px;
  width: 80px;
  border-radius: 15px;
  margin: 19px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
.app-logo{
  margin: 0;
  border-radius: 15px;
}

/* General app screen */
.app-display{
  height: 100%;
  width: 99%;
  margin: -1px;
  display: none;
  border-radius: 5px;
  border: 2px solid black;
}
h4{
  text-decoration: underline;
  text-align: center;
}

/* First App */
#phone{
  background-color: #E6E6E6;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}
#phone h4{
  text-decoration: none;
  font-size: 30px;
  margin: 20px;
}
#phone p{
  margin: 20px;
}
#thick{
  height: 10px
  color: black;
}

/* Second App */
#two{
  background: radial-gradient(rgba(6,108,207,1), rgba(2,132,130,.75));
}
#cdappp{
  margin: 15px 8px;
}
#crim-database{
  background-color: #202020;
}
.cdr{
  height: 150px;
  margin-top: 1px;
}
.cds{
  height: 100%;
  width: 45%;
  margin: 5px;
  display: inline-block;
}
#cdr1{
  height: 40px;
  margin: 20px 0 -20px 7px;
}
#cdrsubmit{
  height: 40px;
  width: 100%;
}
button{
  margin: 15px 125px 0 125px;
  width: 125px;
}
#crim-database-results{
  display: none;
  background-color: #202020;
}
.category{
  text-decoration: underline;
}
#crim-database p{
  line-height: 10px;
}
.attribute{
  text-decoration: none;
  color: green;
}
.attribute:hover{
  font-size: 14px;
  cursor: pointer;
}
.strikethru{
  text-decoration: line-through;
  color: red;
}
.strikethru:hover{
  font-size: 14px;
  cursor: pointer;
}

/* Third App */
#notepad{
  background-color: #F3F781;
  height: 100%;
  width: 100%;
}
#n-title{
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.n-line{
  color: black;
  height: 15px;
  margin: 0 0 0 10px;
  font-size: 15px;
  text-align: top;
  font-weight: 700;
  font-family: 'Indie Flower', cursive;
}

/* Fourth App */
#travel{
  background-color: #061F5C;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#travel h4{
  background-color: #061F5C;
  height: 40px;
  margin: 0px;
  padding: 15px 0 0 0 ;
  font-size: 30px;
  text-decoration: none;
}
#travel li{
  border-top: 1px solid white;
  margin: 0 0 0 -40px;
  padding: 5px 0 0 40px;
  font-size: 20px;
  height: 30px;
}
.light{
  background-color: #318DDE;
}

/* Fifth App */
#youtube{
  height: 400px;
  width: 100%
}
#ytlogo{
    width: 90px;
    height: 90px;
    margin: -5px;
}

/* Sixth App */
#investigate{
  background-color: #202020;
}
#six{
  font-size: 20px;
  background-color: purple;
  background: radial-gradient(rgba(102,51,153,1), rgba(51,51,153,.75));

}

/* Seventh App */
#wikipedia{
  background-color: beige;
  color: black;
}

/* Eighth App */
#map{}
#eight{
  background-color: #121f2f;
}
#eight-logo{
  width: 90px;
  height: 90px;
  margin: -5px;
}
#custmap{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
}

/* Ninth App */
#translate{
  background-color: #202020;
}
#bt{
  height: 100%;
  width: 100%;
  border: 0;
/*  background-color: white; */
}

/* Tenth App */
#music{
  background-color: teal;
}


/******************** Right Styling and Structure ********************/
#picture{
  background-color: white;
  width: 95%;
  margin: 1%;
  height: 450px;
  border: 15px solid #B81D18;
}
#no-call{
  width: 100%;
  height: 100%;
  display: block;
}
#city-div{
  width: 300px;
  height: 40px;
  position: absolute;
  background-color: #121f2f;
  margin-left: 20%;
  border: 5px solid #B81D18;
  border-top: none;
  border-radius: 0 0 25px 25px;
}
#city{
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  margin-top: 8px;
}
#image-div{
  width: 100%;
  height: 100%;
}

#text{
  background-color: #121f2f;
  width: 97%;
  margin: 1%;
  height: 220px;
  border: 8px solid #B81D18;
}
h3{
  margin: 9px;
  text-align: center;
}
hr{
  margin 10px
}
p{
  margin: 10px;
  line-height: 25px
}

/**************************** Phone Calls ****************************/
#phone-call{
  width: 100%;
  height: 100%;
  display: none;
  background-color: #202020;
}
#calling{
  font-size: 40px;
  text-align: center;
  padding: 200px 0 200px 0;
  display: none;
}
.call-screen{
  font-size: 20px;
  text-align: center;
  padding: 150px 10px 150px 10px;
  display: none;
}
#warrant-inputs{
  margin-left: 125px;
}








